@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-hover {
    text-decoration: none; /* Remove default link underline */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Add border */
    border-radius: 30px; /* Add border radius */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Add transition */
  }
  
  .link-hover:hover {
    background-color: #1FA405; /* Change background color on hover */
    color: #F9F6EF;
  }
  
  